<app-header></app-header>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">Titulo</h1>
              <p class="card-text">Descripcion del evento</p>
              <p class="card-text">Fecha</p>
              <p class="card-text">Hora</p>
              <p class="card-text">Ubicacion</p>
              <p class="card-text">Categoria</p>
              <a href="#" class="btn btn-primary">Editar</a>
              <a href="#" class="btn btn-primary">Eliminar</a>
            </div>
          </div>
    </div>
</div>
