<!--
<app-header class="fixed-top"></app-header>
<div class="container" style="margin-top: 80px;">
  <!-- Sección para crear eventos  
  <section>
    <h2>Crear Eventos</h2>
    <!-- Formulario para crear eventos 
    <form>
      <div class="mb-3">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo">
      </div>
      
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
      </div>
      
      <div class="row mb-3">
        <div class="col">
          <label for="fecha" class="form-label">Fecha:</label>
          <input type="date" class="form-control" id="fecha" name="fecha">
        </div>
        <div class="col">
          <label for="hora" class="form-label">Hora:</label>
          <input type="time" class="form-control" id="hora" name="hora">
        </div>
      </div>
      
      <div class="mb-3">
        <label for="ubicacion" class="form-label">Ubicación:</label>
        <input type="text" class="form-control" id="ubicacion" name="ubicacion">
      </div>
      
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoría:</label>
        <select class="form-select" id="categoria" name="categoria">
          <option value="concierto">Concierto</option>
          <option value="feria">Feria</option>
          <option value="deportivo">Deportivo</option>
          <!-- Agrega más opciones de categoría según tus necesidades 
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Crear Evento</button>
    </form>
  </section>
  
  <!-- Sección para buscar eventos 
  <section id="buscar-eventos" class="mb-5">
    <h2>Buscar Eventos</h2>
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="col-md-6">
          <label for="categoria" class="form-label">Categoría:</label>
          <select class="form-select" id="categoria" name="categoria">
            <option value="">Seleccionar categoría</option>
            <option value="concierto">Concierto</option>
            <option value="feria">Feria</option>
            <option value="deportivo">Deportivo</option>
            <!-- Agrega más opciones de categoría según necesites 
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="ubicacion" class="form-label">Ubicación:</label>
          <input type="text" class="form-control" id="ubicacion" name="ubicacion">
        </div>
        <div class="col-md-6">
          <label for="fecha" class="form-label">Fecha:</label>
          <input type="date" class="form-control" id="fecha" name="fecha">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </section>

  
  <!-- Sección para inscribirse a eventos 
  <section>
    <h2>Inscribirse a Eventos</h2>
    <!-- Lista de eventos disponibles para inscripción 
    <!-- Aquí puedes mostrar una lista de eventos con la opción de inscribirse 
  </section>
  
  <!-- Sección para gestionar eventos creados 
  <section>
    <h2>Gestionar Eventos Creados</h2>
    <!-- Lista de eventos creados por el usuario con opciones para editar o cancelar 
    <!-- Aquí puedes mostrar una lista de eventos creados por el usuario con opciones de edición y cancelación 
  </section>
  
  <!-- Sección para visualizar eventos inscritos 
  <section>
    <h2>Eventos Inscritos</h2>
    <!-- Lista de eventos a los que el usuario se ha inscrito 
    <!-- Aquí puedes mostrar una lista de eventos a los que el usuario se ha inscrito 
  </section>
  
</div>
-->

<!-- <div class="container">
  <div class="row">
    @for (event of events; track event.id){
      <div class="col-md-4">
        <div class="card mb-4">
          <img [src]="event.image" class="card-img-top" alt="{{ event.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ event.date | date: 'fullDate'  }}</h6>
            <p class="card-text">{{ event.venue }}</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
    }
  </div>
</div> -->

<app-header class="fixed-top"></app-header>

<!-- <div class="container">
  <div class="carousel">
    <h1>Dashboard</h1>
    <div class="carousel-item">
      @for (event of events; track event.id) {
        <h1>hola</h1>
        <div class="row">
            <div class="col-md-4">
              <div class="card mb-4">
                <img [src]="event.image" class="card-img-top" alt="{{event.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{event.date}}</p>
                </div>
              </div>
            </div>
        </div>
      }
    </div>
  </div>

</div> -->

<div class="container" style="margin-top: 80px;">
  <section id="buscar-eventos" class="mb-5 position-relative" style="background-image: url('assets/images/concierto2.jpg'); background-size: cover; background-position: center;">
    <div class="row justify-content-center align-items-center text-center position-relative" style="height: 500px;">
      <div class="col-lg-8">
        <h1 class="text-white mb-4">Encuentra tu siguiente experiencia</h1>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar eventos" aria-label="Buscar eventos" aria-describedby="button-buscar-eventos">
          <button class="btn btn-primary" type="button" id="button-buscar-eventos">Buscar</button>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        @for (event of events; track event.id) {
        <h1>hola</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="event.image" class="card-img-top" alt="{{event.name}}">
              <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.date}}</p>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div> -->
          <!-- </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselEventosPrincipales" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselEventosPrincipales" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
      </div>
    </div>
  </section> -->

  <section id="eventos-principales" class="mb-5">
    <h2>Eventos Principales</h2>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            @for (event of events; track event.id) {
              <div class="col-md-4">
                <div class="card mb-4">
                  <img [src]="event.image" class="card-img-top" alt="Nombre del evento">
                  <div class="card-body">
                    <h5 class="card-title">{{event.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{event.date}}</h6>
                    <p class="card-text">{{event.venue}}</p>
                    <a href="#" class="btn btn-primary">Más información</a>
                  </div>
                </div>
              </div>
          }
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  

  <!-- <div class="container" style="margin-top: 80px;">

    <section id="eventos-principales" class="mb-5">
      <h2>Eventos Principales</h2>
      <div id="carouselEventosPrincipales" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          @for (event of events; track event.id) {
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4">
                    <img [src]="event.image" class="card-img-top" alt="Nombre del evento">
                    <div class="card-body">
                      <h5 class="card-title">{{ event.name }}</h5>
                      <p class="card-text">{{ event.date }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEventosPrincipales" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEventosPrincipales" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </section>
  </div>
  


  <!--Sección de eventos recomendados -->
  <section id="eventos-recomendados">
    <h2>Eventos Recomendados para Ti</h2>
    <div class="row">
      @for (event of events; track event.id) {
        <div class="col-md-4">
          <div class="card mb-4">
            <img [src]="event.image" class="card-img-top" alt="Nombre del evento">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{event.date}}</h6>
              <p class="card-text">{{event.venue}}</p>
              <a href="#" class="btn btn-primary">Más información</a>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
</div>
