.btn{
    background-color: #7120af;
    color: white;
}

.btn:hover{
    font-size: large;
    transition: 0.2s;
}

.card{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.snm{
    color: #7120af;
}