<app-header class="fixed-top"></app-header>
  <section id="buscar-eventos" class="mb-5 position-relative" style="background-image: url('assets/images/concert.jpg'); background-size: cover; background-position: center; border-radius: 15px; opacity: 0.9;">
    <div class="row justify-content-center align-items-center text-center position-relative " style="height: 500px;">
      <div class="col-lg-8 snm">
        <h1 class="" style="color: #7120af;">Encuentra tu siguiente experiencia</h1>
      </div>
    </div>
  </section>

  <section id="eventos-principales" class="p-1 text-center" style="background-color: #7120af; border-radius: 15px;">
    <h2 style="color: white;">Eventos Principales</h2>
    <div class="container p-3">
      <div class="row">
        @for (event of events; track event.id) {
          <div class="col">
            <div class="card" style="width: 350px; height: 400px;">
              <div class="card-body m-4">
                <h2 class="card-title p-4">{{event.title}}</h2>
                <p class="card-text">{{event.description}}</p>
                <h4>Fecha y Hora: {{event.date}}</h4>
                <h4>Ubicacion: {{event.location}}</h4>
                <h4>Categoria: {{event.category}}</h4>
                  <a href="/events" class="btn btn-lg m-4">Ver más</a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
