<nav class="navbar navbar-expand-lg " data-bs-theme="dark">
  <div class="container-fluid">
    <!-- <img class="logo" src="assets/images/login-logo.png" alt="EventMaster"> -->
    <a class="navbar-brand" href="#">EventMaster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-0 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Organizers</a>
        </li>
        <li class="nav-item">
          <div class="me-2">
            <button type="button" class="btn btn-outline-primary" href="#">Crear evento</button>
          </div>
        </li>
        </ul>
      <button class="btn btn-outline-danger btn-lg btn-custom" (click)="logout()" type="button">Log out</button>
    </div>
  </div>
</nav>