<div class="wrapper">
  <div class="body">
    <img class="logo" src="assets/images/login.png" alt="img login"/>
    <h1 class="mb-3">Iniciar Sesión</h1>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControl="username" placeholder="Ingrese Usuario">
      <label>Usuario</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" formControl="password" placeholder="Ingrese Contraseña">
      <label>Contraseña</label>
    </div>
    <div class="d-grid gap-2">
      <button type="button" (click)="login()" class="btn btn-primary btn-lg">Ingresar</button>
    </div>
    <p class="mt-3"> ¿No tienes cuenta? <a class="activebutton" routerLinkActive="active" routerLink="/signUp">Registrarse</a></p>
  </div>
</div>
