<app-header class="fixed-top"></app-header>

<section class="container" style="margin-top: 100px; margin-left:20px;">
  <h2>Mis Eventos</h2>
  <div class="mt-4">
    <h3>Eventos Creados</h3>
<div>
  @if (createdEvents.length === 0) {
  <div>No has creado ningún evento.</div>
  }@else {
  <ul class="list-group">
      @for (event of createdEvents; track event.id) {
      <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h5>{{ event.title }}</h5>
              <p>{{ event.description }}</p>
              <p><strong>Fecha:</strong> {{ event.date }}</p>
              <p><strong>Hora:</strong>{{ event.time}}</p>
              <p><strong>Ubicación:</strong> {{ event.location }}</p>
              <p><strong>Categoría:</strong> {{ event.category }}</p>
            </div>
            <div>
              <button class="btn bi bi-pen btn-primary" (click)="editEvent(event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>
              </button>
            </div>
          </div>
          <button class="btn btn-warning ms-3" (click)="deleteEvent(event.id!)">Borrar evento</button>
          <!-- <div class="modal" tabindex="-1" role="dialog" id="editEventModal" #editEventModal>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Editar Evento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="editEventForm" (submit)="editEvent(event)">
                    <div class="form-group">
                      <label for="title">Título</label>
                      <input type="text" class="form-control" id="title" formControlName="title" name="title" required>
                    </div>
                    <div class="form-group">
                      <label for="title">Descripción</label>
                      <input type="text" class="form-control" id="title" formControlName="description" name="title" required>
                    </div>
                    <div class="form-group">
                      <label for="title">Categoría</label>
                      <input type="text" class="form-control" id="title" formControlName="category" name="title" required>
                    </div>
                    <div class="form-group">
                      <label for="title">Fecha</label>
                      <input type="text" class="form-control" id="title" formControlName="date" name="title" required>
                    </div>
                    <div class="form-group">
                      <label for="title">Título</label>
                      <input type="text" class="form-control" id="title" formControlName="title" name="title" required>
                    </div>
                        Aquí puedes agregar más campos para los otros detalles del evento
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  </form>
                </div>
              </div>
            </div>
          </div> -->
      </li>
      }
  </ul>
  }
</div>
</div>

  <div class="mt-4">
      <h3>Eventos Inscritos</h3>
      @if (attendingEvents.length === 0) {
        <div>No estás inscrito en ningún evento.</div>
      }@else {
        <ul class="list-group">
          @for (event of attendingEvents; track event.id) {
            <li class="list-group-item">
              <h5>{{ event.title }}</h5>
              <p>{{ event.description }}</p>
              <p><strong>Fecha:</strong> {{ event.date }}</p>
              <p><strong>Ubicación:</strong> {{ event.location }}</p>
              <p><strong>Categoría:</strong> {{ event.category }}</p>
              <div class="d-flex align-items-center">
                <span class="badge bg-success fs-5"> ✔ Inscrito <i class="bi bi-check-circle"></i></span>
                <button class="btn btn-warning ms-3" (click)="leaveEvent(userId, event.id!)">Cancelar Inscripción</button>
              </div>
            </li>  
          }
        </ul>
      }
  </div>
</section>

<!-- Formulario de edición -->
<!-- <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEventModalLabel">Editar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Aquí puedes colocar tu formulario de edición
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div> -->
