<app-header class="fixed-top"></app-header>

<section class="container" style="margin-top: 100px; margin-left:20px;">
  <h2>Buscar y Filtrar Eventos</h2>

  <!-- Formulario de búsqueda y filtros -->
  <form [formGroup]="searchForm" (submit)="searchEvents()">
    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="title" placeholder="Buscar por título">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="category" placeholder="Buscar por categoría">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="date" class="form-control" formControlName="date" placeholder="Buscar por fecha">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="location" placeholder="Buscar por ubicación">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

  <!-- Lista de resultados de búsqueda -->
  <div class="mt-4">
    <h3>Resultados de la búsqueda</h3>
    @if (events.length === 0) {
      <div>No se encontraron eventos.</div>
    }@else {
      <ul class="list-group list-group-horizontal">
        @for (event of events; track event.id) {
          <li class="list-group-item">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5>{{ event.title }}</h5>
                <p>{{ event.description }}</p>
                <p><strong>Fecha:</strong> {{ event.date }}</p>
                <p><strong>Ubicación:</strong> {{ event.location }}</p>
                <p><strong>Categoría:</strong> {{ event.category }}</p>
                <button class="btn btn-primary" (click)="goToEvent(event.id!)">Ver Evento</button>
              </div>
            </div>
          </li>
        }
      </ul>
    }
  </div>
</section>
