<app-header class="fixed-top"></app-header>

<section class="container-fluid p-4 text-center" style="margin-top: 100px; margin-left:0px; width:100%; background-color: #7120af;">
  <h2 class="text-white">Buscar y Filtrar Eventos</h2>
  <!-- Formulario de búsqueda y filtros -->
  <form [formGroup]="searchForm" (submit)="searchEvents()">
    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="title" placeholder="Buscar por título">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="category" placeholder="Buscar por categoría">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <input type="date" class="form-control" formControlName="date" placeholder="Buscar por fecha">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="location" placeholder="Buscar por ubicación">
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-buscar">Buscar</button>
  </form>
</section>

<section class="container-fluid p-4 mt-3 text-center" style="background-color: #7120af; margin-left:0px; width:100%;">
  <!-- Lista de resultados de búsqueda -->
  <div class="mt-4">
    <h3 class="text-white">Resultados de la búsqueda</h3>
    @if (events.length === 0) {
      <div>No se encontraron eventos.</div>
    }@else 
    {
      <div class="row m-5">
        @for (event of events; track event.id) 
        {
            <div class="col-4">
              <div class="card m-4" style="width: 350px; height: 450px;">
                <div class="card-body m-4">
                  <h2 class="p-4">{{ event.title }}</h2>
                    <p>{{ event.description }}</p>
                    <p><strong>Fecha:</strong> {{ event.date }}</p>
                    <p><strong>Ubicación:</strong> {{ event.location }}</p>
                    <p><strong>Categoría:</strong> {{ event.category }}</p>
                    @if (event.isAttending) {
                      <div class="d-flex align-items-center">
                        <span class="badge bg-success fs-5"> ✔ Inscrito <i class="bi bi-check-circle"></i></span>
                        <button class="btn  ms-3 btn-cancel" (click)="leaveEvent(userId, event.id!)">Cancelar Inscripción</button>
                      </div>
                    }@else {
                      <button class="btn btn-join" (click)="joinEvent(userId, event.id!)">Inscribirse</button>
                    }
                </div>
              </div>  
            </div>
          }
          </div>   
    }
  </div>
</section>